// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
$skinLogo: image-url("logo.png");
$skinActiveColor: #315a74;
.site_title {
  background-size: cover !important;
}

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "active_skin"

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

