<h1 class="text-center">Nueva cita</h1>

<div class="d-flex justify-content-around">
    <div id="calendar"></div>
    <%= render 'form', appointment: @appointment %>
</div>


<%= link_to 'Atrás', root_path %>

<script>
    renderCalendar();
</script>
