<div class="d-flex justify-content-around">
    <div class="w-50" id="calendar"></div>
    <%= render 'form', appointment: @appointment %>
</div>


<%= link_to 'Atrás', root_path %>

<script>
    renderCalendar();
</script>
