<p>
  <strong>Tipo de servicio:</strong>
  <%= @appointment.service_name %>
</p>

<p>
  <strong>Inicio de la cita:</strong>
  <%= @appointment.start.to_s[0..15] %>
</p>

<p>
  <strong>Término de la cita:</strong>
  <%= @appointment.end.to_s[0..15] %>
</p>

<%#= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Volver al inicio', root_path %>
