<p>¡Bienvenid@, <%= @resource.name %>!</p>

<p>Haz click en link de abajo para confirmar tu cuenta:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>
