<p>¡Hola, <%= @resource.name %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Te estamos contactando para notificarte que tu email está siendo modificado. Tu nuevo email será <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Te estamos contactando para notificarte que tu email ha sido modificado. Tu nuevo mail es <%= @resource.email %>.</p>
<% end %>
